.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* [data-status="completed"] {
  fill: purple
} */

[id$="1" ][data-status="completed"] {
  fill: #A8DADC
}
[id$="2" ][data-status="completed"] {
  fill: #F18C8E 
}

[id$="3" ][data-status="completed"] {
  fill: #e76f51
}

[id$="4" ][data-status="completed"] {
  fill: #f4a261
}
[id$="5" ][data-status="completed"] {
  fill: #e9c46a
}
 [id$="6" ][data-status="completed"] {
  fill: #359E6A
}


[id$="7" ][data-status="completed"] {
  fill: #2a9d8f
}

[id$="8" ][data-status="completed"] {
  fill: #264653
}



[data-status="incomplete"] {
  fill: white 
}

[data-status="test"] {
  fill: palegreen 
}

.center {
  text-align: center
} 

html, body {
  width: 100%;
  height: 100vh;
 }